// ======================================
//  site wide
// ======================================
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

$container-max-width: 1280px;

body {
  color: #4d4d4d;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

img {
  width: 100%;
}

// add float none to bootstrap center-block class

.center-block {
  float: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Bold', sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 26px;
}

h3 {
  font-size: 17px;
  line-height: 20px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
}

h6 {
  font-size: 15px;
  line-height: 20px;
}

p {

}

blockquote {
  font-size: 14px;
}

@media (min-width: $breakpoint-sm) {

  body {
    font-size: 16px;
    line-height: 22px;
  }

  h1 {
    font-size: 85px;
    line-height: 85px;
  }

  h2 {
    font-size: 42px;
    line-height: 46px;
  }

  h3 {
    font-size: 36px;
    line-height: 42px;
  }

  h4 {
    font-size: 24px;
    line-height: 28px;
  }

  h5 {
    font-size: 20px;
    line-height: 24px;
  }

  h6 {
    font-size: 18px;
    line-height: 28px;
  }

  p {

  }

  blockquote {
    font-size: 16px;
  }

}