// ======================================
//  Affinity 4 AL - article list - Image-Title-Summary
// ======================================

.slice_affinity_4_al {
  .info_header {

    margin: 0 auto;
    text-align: center;

    .info_header_title {
      color: $info_header_title-color;
      font-size: $info_header_title-font-size;
      font-family: $info_header_title-font-family;
    }
    .info_header_text {
      color: $info_header_text-color;
      font-size: $info_header_text-font-size;
      font-family: $info_header_text-font-family;
      margin-bottom: 30px;
    }
  }

  .info_cards > div {
    float: left;
  }

  .info_cards {
    .articleListImage img {
      border: $info_cards_articleListImage-border-width solid $info_cards_articleListImage-border-color;
      -webkit-border-radius: $info_cards-articleListImage-border-radius;
      -moz-border-radius: $info_cards-articleListImage-border-radius;
      border-radius: $info_cards-articleListImage-border-radius;
      display: block;
      margin: 0 auto 20px;
      max-width: 179px;
    }

    .articleListTitle a {
      color: $info_cards_articleListTitle-color;
      font-size: $info_cards_articleListTitle-font-size;
      font-family: $info_cards_articleListTitle-font-family;
      text-align: center;
      text-decoration: none;
      display: block;
      margin: 0 auto 25px;

    }

    .articleListSummary {
      color: $info_cards_articleListSummary-color;
      font-size: $info_cards_articleListSummary-font-size;
      font-family: $info_cards_articleListSummary-font-family;
      text-align: center;
      margin: 0 auto 20px;
      min-height: 45px;
    }

    .info_cards_button_wrapper {

      text-align: center;
      margin-bottom: 45px;

      .info_cards_button {
        display: inline-block;
        margin-top: 10px;
        margin-right: 5px;
        padding: 9px 15px 7px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-transition: background-color 500ms ease;
        transition: background-color 500ms ease;
        font-size: $info_cards_button-font-size;
        text-align: center;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        border: $info_cards_button-border;
        background-color: transparent;
        color: $info_cards_button-color;

        &:hover {
          background-color: $info_cards_button-background-color--hover;
          color: $info_cards_button-color--hover;
        }
      }
    }
  }
  /*
    @media (min-width: $breakpoint-xs) {


     .info_cards {

        .articleListTitle a {
          margin: 0 auto 20px;

        }
      }
       .info_cards {

        .articleListSummary {
          min-height: 25px;
        }

        .info_cards_button_wrapper {
          margin-bottom: 35px;
        }
      }
    }
  */
  @media (min-width: $breakpoint-sm) {

    .info_header {

      .info_header_title {
        font-size: $info_header_title-font-size * 1.6;
      }
      .info_header_text {
        margin-bottom: 35px;
      }
    }

  }

  @media (min-width: $breakpoint-md) {
    .info_cards {

      .articleListSummary {
        min-height: 90px;
      }

      .info_cards_button_wrapper {
        margin-bottom: 35px;
      }
    }
  }
}