// ======================================
//  affinity text with background image
// ======================================

//  info header
// ===================================

.slice_affinity_text_image_bg {

  padding-top: 40px;
  background-image: url(../images/affinity-text-image-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  height: 410px;
  overflow: hidden;

  .icon-cup {
    text-align: center;
    margin-bottom: 15px;
    & img {
      max-width: 65px;
    }
  }
  .info_header {

    margin: 0 auto;
    text-align: center;

    .info_header_title {
      color: $info_header_reverse_title-color;
      font-size: $info_header_reverse_title-font-size;
      font-family: $info_header_reverse_title-font-family;
      line-height: $info_header_reverse_title-line-height;
      margin-bottom: $info_header_reverse_title-margin-bottom;
      font-weight: normal;
    }
    .info_header_text {
      color: $info_header_reverse_text-color;
      font-size: $info_header_reverse_text-font-size;
      font-family: $info_header_reverse_text-font-family;
      line-height: $info_header_reverse_text-line-height * 0.8;
      margin-bottom: $info_header_reverse_text-margin-bottom * 3;
    }
  }

  @media (min-width: $breakpoint-md) {
    .info_header_title {
      font-size: $info_header_reverse_title-font-size * 1.5;
    }
    .info_header_text {
      font-size: $info_header_reverse_text-font-size;
    }
  }

}