// ======================================
//  Affinity form - info and sign up form
// ======================================

.slice_affinity_form {
  margin-top: 30px;
  margin-bottom: 30px;

  .info_header {

    margin: 0 auto;
    text-align: center;

    .info_header_title {
      color: $info_header_title-color;
      font-size: $info_header_title-font-size;
      font-family: $info_header_title-font-family;
      line-height: $info_header_title-font-size * 1;
    }
    .info_header_text {
      color: $info_header_text-color;
      font-size: $info_header_text-font-size;
      font-family: $info_header_text-font-family;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  .form_wrapper {

    background-color: $form-background-color;
    padding: 35px 20px 0;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    label {
      font-weight: normal;
    }

    .form_fields_line3 {

      text-align: center;
      margin-bottom: 45px;

      .sitebutton {
        display: inline-block;
        margin-top: 10px;
        margin-right: 5px;
        padding: 9px 15px 7px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-transition: background-color 500ms ease;
        transition: background-color 500ms ease;
        font-size: $form_button-font-size;
        text-align: center;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        border: $form_button-border;
        background-color: $form_buttom-background-color;
        color: $form_button-color;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  @media (min-width: $breakpoint-sm) {

    margin-top: 60px;
    margin-bottom: 60px;

    .info_header {

      .info_header_title {
        font-size: $info_header_title-font-size * 2;
        line-height: $info_header_title-font-size * 2;
      }
      .info_header_text {
        margin-bottom: 35px;
      }
    }

  }

  @media (min-width: $breakpoint-md) {
    .info_cards {

      .articleListSummary {
        min-height: 90px;
      }

      .info_cards_button_wrapper {
        margin-bottom: 35px;
      }
    }
  }
}